@import "./styles/vars.less";
@import "./styles/dark.theme.less";

body {
  max-width: 900px;
  margin: auto;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;

  * {
    transition: 0.2s;
  }
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

a {
  color: var(--color-link);
  text-decoration: none;

  &:hover {
    color: var(--color-link-hover);
  }
}
